body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;


}

.Container {
  background-color: #000000;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  left: 15vw;
  width: 85vw;
}


.Parent-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Container__title {
    color: #FFFFFF;
    display: block;
    font-size: 1.2rem;
    margin: 1rem;
}

.Label__container {
    padding: 2rem 1rem;
    background: #121212;
    overflow-x: hidden;
    height: 100vh;
}